vendor/composer/installed.php
/code/tests/teste_imagem
vendor/composer/installed.php
vendor/composer/installed.php
/vendor
composer.json
*.zip
testes_SH/TestHelloWorld.php
document/trabalho de amanha.txt
public/uploads/padrao.jpg
/document/05
