vendor/composer/installed.php
/code/tests/teste_imagem
vendor/composer/installed.php
vendor/composer/installed.php
/vendor
composer.json
*.zip
testes_SH/TestHelloWorld.php
public/uploads/padrao.jpg
log.log
public/uploads/img_68e0445004b992.66805710.png
